<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>Person: </h2>

<h2>mutable</h2>
<p>
  {{ Person.title }} {{ Person.firstname }} {{ Person.surname }}
</p>

<h2>immutable</h2>
<p>
  {{ ImmutablePerson.get('title') }} {{ ImmutablePerson.get('firstname') }} {{ ImmutablePerson.get('surname') }}
</p>

<input type="button" value="Mutate!" (click)="mutate(this.Person);" />

<input type="button" value="Mutate immutable!" (click)="mutateImmutable(this.ImmutablePerson);" />


